#contenedor{
    width:90%;
    padding: 10px;
    margin: 30px auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(imagenes/fondo.jpg);
}
#cabezera{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
}
#logo{
    border-radius: 150px;
}
#cabe{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(0, 183, 255);
    text-shadow: 10px 5px 20px black
}
#algo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#hu{
    background-color: white;
}
#medio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:15px;
    flex-wrap: wrap;
    padding:15px;
    border: solid black;
}
.caja{
    width: 30%;
    padding:5px;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
h3{
    text-align: center;
    color: white;
}
.tg{
    padding: 3px ;
}
#j{
    background-color: rgb(252, 71, 0);
}
#coj{
    background-color: rgb(252, 215, 200);
}
#k{
    background-color: rgb(13, 98, 255);
}
#cok{
    background-color: rgb(164, 195, 253);
}
#l{
    background-color: rgb(84, 201, 30);
}
#col{
    background-color: rgb(176, 247, 143);
}
#final{
    display: flex;;
    flex-direction: row;
    justify-content: space-around;
    margin:15px;
    padding:15px;
    border: solid black;
}
.fi{
    padding: 3px;
}
#fij{
    background-color: rgb(252, 215, 200);
    border: solid rgb(90, 90, 90);
}
#f{
    color: white;
    background-color: rgb(252, 71, 0);
    text-align: center;
}
#fik{
    background-color: rgb(164, 195, 253);
    border: solid rgb(90, 90, 90);
}
#g{
    text-align: center;
    background-color: rgb(13, 98, 255);
    color: white;
}
#fil{
    background-color: rgb(176, 247, 143);
    border: solid rgb(90, 90, 90);
}
#h{
    background-color: rgb(84, 201, 30);
    text-align: center;
    color: white;
}
#casa{
    display: flex;
    flex-direction: column;
    margin: 60px;
    align-items: center;
    border: solid black;
    box-shadow: 8px 5px 20px;
}
#res{
    border-top: solid black;
}
#bn{
    border: solid rgba(0, 0, 0, 0.301);
    border-radius: 25px;
    padding: 16px;
    background-color: rgb(230, 244, 255);
    box-shadow: 8px 5px 20px;
}